<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>About</title>
</head>

<body>

    <div class="topnav">
        <!-- Top navigation bar -->
        <div>
            <a style="text-align: left;" href="/"><img src="../public/assets/images/airline-Logo.png" height="60px"
                    width="auto" alt="logo header"></a>
        </div>
        <div id="myLinks">
            <a href="../ratings">Statistics</a>
            <a href="../resources">Resources</a>
            <a href="../contact">Contact</a>
            <a href="../about" class="active" style="color:white;">About</a>
            <a href="../logout">Logout</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="nav()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="main">
        <!-- Main section inside the body -->
        <h4>About this project</h4>
        <br>
        <div style="padding: 10px;">
            <p style="text-align: left;">
                With the coronavirus vaccines rollout and the decrease in travel restrictions, people are looking to
                travel again. The demand on finding cheap flight tickets increases and it's an opportunity for scammers
                to exploit.

                The most common air travel scams are the ones that occur in an online space. It is easy for scammers to
                build a fake airline website with very similar text and images to persuade users and take away their
                money.
                <br><br>
                Airscammer is a web application that simulates what a potentially suspicious booking website will
                typically do, the name Airscammer is inspired by "Skyscanner" an actual aggregator airline website. The
                purpose of this project is to educate my user to pay attention to online booking by setting up some
                "traps" for them and informing them what potential harm could come from those "traps".
                <br><br>
                This web application is developed with HTML, CSS, Bootstrap, MYSQL, Node.JS, Passport and JavaScript.
                This is a self-sponsored, individual project developed in a span of 3 weeks with iterations each week.
                With Airscammer I aim to make learning more fun, instead of reading a bunch of articles and not fully
                understanding them, we can just learn by doing!
            </p>
        </div>
        <br><!-- Copyright -->
        <p> © 2022 designed and coded by Felicia Fel 🎃</p>
    </div>
</body>

</html>