@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap');

/* General */

html {
  max-height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.main {
  margin: 5% 10%;
}

.topnav {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: rgb(37, 42, 90);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.topnav a.icon {
  color: #fff;
  background: #448AF7;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5%;
}

#myLinks a:hover {
  background-color: #448AF7;
  color: #fff;
}

.active {
  background-color: #448AF7;
  color: #fff;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 26px;
  font-weight: 500;
}

h4 {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
}

p {
  text-align: center;
}

legend {
  font-size: 20px;
  font-weight: 500;
}

body {
  font-size: 2em;
  color: rgb(37, 42, 90);
  background-image: url("../images/background-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: auto;
  display: flex;
  flex-direction: column;
}

.form-field label {
  display: block;
  font-size: 0.8em;
  color: rgb(37, 42, 90);
  font-weight: 800;
  margin: 0 10 0 10;
}

form {
  border-radius: 6px;
  padding: 50px;
  justify-content: center center;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(37, 42, 90);
  text-align: justify;
}

/* Index page */

ul {
  padding: 0;
  margin-top: -0.55em;
  list-style: none;
  font-weight: 900;
}

.animation {
  vertical-align: sub;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  line-height: 2em;
}

select,
#date {
  display: inline;
  width: 25%;
  height: 50px;
  border: solid 2px #f0f0f0;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
}

#button {
  display: inline;
  width: 20%;
  height: 50px;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
}

/* About Page */

.about {
  display: block;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  justify-content: space-evenly;
  text-align: center;
}

.aboutP {
  width: 100%;
}

.notAuth {
  display: block;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  justify-content: space-evenly;
  text-align: center;
}

/* Flight Page */

table {
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

td {
  padding: 20 20 20 80;
  text-align: left;
  vertical-align: middle;
}

.labelforTable:hover {
  -webkit-animation: pulse2 2s infinite;
  animation: pulse2 2s infinite;
}

/* Details Page */

.form-field-details {
  display: table;
  font-size: 0.8em;
  color: rgb(37, 42, 90);
  font-weight: 400;
  justify-content: center;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.formDetails {
  margin-left: 10%;
  margin-right: 10%;
}

/* Ratings Page */

.nameCollection {
  text-align: center;
  padding: 1%;
}

th {
  background: #448AF7;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.chart-container {
  position: relative;
  margin: auto;
  height: auto;
  width: 55vw;
}

/* Buttons */

.bton {
  background: #448AF7;
  text-transform: capitalize;
  border: none;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.bton:hover,
.bton:focus {
  background: #448AF7;
  cursor: pointer;
  border: none;
  font-weight: 500;
  color: #fff;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

/* Footer */

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  background-color: #2C3892;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  -webkit-animation: pulse 4s infinite;
  animation: pulse 4s infinite;
  cursor: pointer;
  z-index: 10;
}

a:hover,
a,
a:focus {
  color: rgb(37, 42, 90);
  text-decoration: none;
}

/* Mobile Responsive */

@media screen and (max-width: 600px) {

  body {
    justify-content: space-evenly;
  }

  form {
    display: inline-block;
    width: 100%;
    padding: 5%;
  }

  .topnav a.icon {
    color: #fff;
    background: #448AF7;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6%;
  }

  h1 {
    font-size: 35px;
    font-weight: 900px;
    width: 100%;
  }

  h2 {
    font-size: 25px;
    font-weight: 600px;
    width: 100%;
  }

  h3 {
    font-size: 25px;
    font-weight: 600px;
    width: 100%;
  }

  h4 {
    font-size: 30px;
    font-weight: 600px;
    width: 100%;
  }

  p {
    font-size: 17px;
    font-weight: 600px;
    width: 100%;
  }

  label {
    font-size: 17px;
    font-weight: 600px;
    margin: 20px 0 20px 0;
    text-align: left;
  }

  input {
    background-color: white;
    font-size: 17px;
    line-height: 1.15;
    letter-spacing: -.02em;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    border-radius: 10px;
  }

  select,
  #date {
    display: inline;
    width: 70vw;
    height: 50px;
    border: solid 2px #f0f0f0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  #button {
    display: inline;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
  }

  table {
    width: 100%;
  }

  .nameCollection {
    text-align: center;
    padding: 5%;
  }

  .nameCollection>p {
    font-size: 13px;
  }

  td {
    padding: 0;
    text-align: left;
    display: column;
  }

  .airline,
  .price,
  .time {
    display: inline-grid;
    margin: 10%;
  }

  .formDetails {
    margin: 0;
  }

  .form-field-details {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .about {
    display: block;
    padding: 8%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
  }

  .contact {
    display: block;
    padding: 8%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
  }

  footer {
    position: static;
    bottom: 0;
    width: 100%;
  }

  .notAuth {

    margin: 10%;

  }

  .chart-container {
    position: relative;
    margin: auto;
    height: auto;
    width: 100%;
  }

}

/* Tooltips */

[data-tooltip] {
  --arrow-size: 5px;
  position: relative;
  z-index: 5;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + var(--arrow-size));
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: auto;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: #448AF7;
  background-image: linear-gradient(30deg,
      #448AF7,
      #448AF7,
      #448AF7);
  box-shadow: 0px 0px 5px #448AF7;
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size);
  /* CSS triangle */
  border-color: #448AF7 transparent transparent transparent;
  transition-duration: 0s;
  /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
  transform-origin: top;
  /* Orientation setting for the
                                slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}

/* Arrow slide down effect only on mouseenter (NOT on mouseleave)*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s;
  /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + var(--arrow-size));
  bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(0.5);
}

[data-tooltip-location="left"]:hover:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
  border-width: var(--arrow-size) 0px var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent transparent #448AF7;
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="left"]:hover:after {
  transform: translateY(50%) scaleX(1);
}


/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + var(--arrow-size));
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(var(--arrow-size), 50%) scale(0.5);
}

[data-tooltip-location="right"]:hover:before {
  transform: translate(var(--arrow-size), 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) 0px;
  border-color: transparent #448AF7 transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="right"]:hover:after {
  transform: translateY(50%) scaleX(1);
}


/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
  top: calc(100% + var(--arrow-size));
  bottom: auto;
}

[data-tooltip-location="bottom"]:before {
  transform: translate(-50%, var(--arrow-size)) scale(0.5);
}

[data-tooltip-location="bottom"]:hover:before {
  transform: translate(-50%, var(--arrow-size)) scale(1);
}

[data-tooltip-location="bottom"]:after {
  border-width: 0px var(--arrow-size) var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent #448AF7 transparent;
  transform-origin: bottom;
}

/* Keyframes */

@-webkit-keyframes pulse {
  0% {
    font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    font-size: 1.6rem;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    font-size: 1.6rem;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes pulse2 {
  0% {
    font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(68, 138, 247, 0.7);
    ;
  }

  70% {
    font-size: 1.6rem;
    box-shadow: 0 0 0 5px rgba(68, 138, 247, 0);
    ;
  }

  100% {
    font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(68, 138, 247, 0);
  }
}

@keyframes pulse2 {
  0% {
    font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(68, 138, 247, 0.7);
    ;
  }

  70% {
    font-size: 1.6rem;
    box-shadow: 0 0 0 5px rgba(68, 138, 247, 0);
    ;
  }

  100% {
    font-size: 1.5rem;
    box-shadow: 0 0 0 0 rgba(68, 138, 247, 0);
  }
}